.span10
  %form{:method => 'post'}
    %br
    %h2 咨询信息
    %br
    %table
      %tr
        %td
          顾问名称 &nbsp;
        %td
          %input{:type => 'text', :name => 'name', :value=> "#{@user.consultant_name}"}
      %tr
        %td
          邮件 &nbsp;
        %td
          %input{:type => 'text', :name => 'email', :value => "#{@user.consultant_email}"}
      %tr
        %td
          电话 &nbsp;
        %td
          %input{:type => 'text', :name => 'phone', :value => "#{@user.consultant_phone}"}
      %tr
        %td
          职位 &nbsp;
        %td
          %input{:type => 'text', :name => 'title', :value => "#{@user.consultant_title}"}
          
    %br
    %input{:type => 'submit', :value => '保存' }
    %button{:value => 'Cancel'} 取消
  
      
