.span10
  %form{:method => 'post'}
    %br
    %h2 新建报告 (或 <a href="/report/import">导入</a>)
    %br
    - if @templates.size > 0
      %table
        %tr
          %td
            标题 &nbsp;
          %td
            %input{:type => 'text', :name => 'report_name'}
        %tr
          %td
            公司全称 &nbsp;
          %td
            %input{:type => 'text', :name => 'full_company_name'}
        %tr
          %td
            公司简称 &nbsp;
          %td
            %input{:type => 'text', :name => 'short_company_name'}
        %tr
          %td
            日期 &nbsp;
          %td
            %input{:type => 'text', :name => 'date'}   
        %tr
          %td{:style => 'width: 30%'}
            报告类型
          %td{:style => 'width: 70%'}
            %select{ :name => "report_type" }
              - @templates.each do |template|
                - if template.finding_template == false and template.status_template == false
                  - if @report and template.report_type == @report.report_type
                    %option{ :selected => "selected" } #{type}
                  - else
                    %option #{template.report_type}
      %br
      %input{:type => 'submit', :value => '保存' }
      %button{:value => 'Cancel'} 取消
    - else
      %h4
        额，现在没有报告模板，需要管理员去 <a href="/admin/templates/add">添加</a> 一个 -_-
      
